html,
body {
	background-color: white;
}

.mui-content {
	background-color: white;s
}

.mui-content>img {
	display: block;
	width: 4.1rem;
	height: 4.1rem;
	margin: 2.43rem auto 0;
}

.mui-input-group {
	position: static;
	padding: 0;
	border: 0;
	background-color: #fff;
	margin-left: calc((100% - 10.66rem)/2);
}

.mui-input-group .mui-input-row {
	width: 10.66rem;
	height: 1.44rem;
	box-shadow: 0px 1px 15px rgba(14, 20, 84, 0.3);
}

.mui-input-group .mui-input-row:after {
	background-color: rgba(0, 0, 0, 0);
}

.mui-input-group .mui-input-row:nth-child(1) {
	margin-bottom: 0.59rem;
}

.mui-input-group .mui-input-row:nth-child(1) {
	margin-bottom: 1.46rem;
}

.mui-input-row label {
	width: 25%;
	padding: 0.45rem 0.4rem 0.72rem;
	color: #999;
	font-size: 0.46rem;
}
.mui-input-group:after, .mui-input-group:before{
	background: transparent;
}
.mui-input-row label~input {
	width: 75%;
	height: 100%;
	color: #999;
	font-size: 0.46rem;
	padding-left: 0.2rem;
}

/* .mui-btn {
	width: 9.68rem;
	height: 1.29rem;
	margin-left: calc((100% - 9.68rem)/2);
	margin-top: 1.46rem;
	border-radius: 0.4rem;
	background-color: #5638f8;
	color: white;
	font-size: 0.44rem;
} */
.msglogin{
	font-size: 0.46rem;
	color: #fff;
	width: 9.7rem;
	height: 1.23rem;
	line-height: 1.23rem;
	background: url("../../../image/btn-long.png") no-repeat center/contain;
	color: #fff;
	text-align: center;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 2rem;
}

/* */
.form-control {
	margin-top: -0.3rem;
	color: #5638f8;
	font-size: 0.44rem;
	appearance: none;
	-webkit-appearance: none;
	/* TODO */
	/* background:url("") */
}

.mui-input-row span {
	height: 100%;
	border: none;
	font-size: 0.44rem;
	padding-left: 0.2rem;
	color: #3385FB;
}

.mui-input-row .shu {
	border-right: 1px solid #3385FB;
}

.duan {
	margin-top: 1.42rem;
	text-align: center;
}
.duan>a{
	font-size: 0.44rem;
	color: #666666;
}
.d {
	width: 100%;
	/* margin-top:1rem; */
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	margin-bottom: 0.5rem;
}

.d>span a {
	color: #666;
	font-size: 0.44rem;
}

.d span .active {
	color: #3385FB;
}
